<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, FinalProject, API, Maraton, Programacion"
    />
    <title>Maratón De Programación</title>
    <link rel=" preconnect" href="https://fonts.googleapis.com" />
    <link rel="preload" href="css/normalize.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="shortcut icon"
      href="assets/logo_pestaña.png"
      type="image/x-icon"
    />
    <script
      src="https://kit.fontawesome.com/e8f5675b73.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preload" href="css/style.css" as="style" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar">
      <div class="nav_header">
        <picture id="imagen_logo"
          ><img src="assets/maraton_logo.jpg" alt="logo_maratonProgramacion"
        /></picture>
        <button class="burger_btn">
          <i class="fa-solid fa-align-justify"></i>
        </button>
      </div>
      <div class="nav_links">
        <a href="index.html" class="nav_link"> Home </a>
        <a href="registro.html" class="nav_link"> Register </a>
        <a href="login.html" class="nav_link"> Login </a>
      </div>
    </nav>

    <section class="hero">
      <div class="contenido-hero">
        <div class="cont_hero_texto">
          <h2>Maratón de Programación</h2>
          <p>Universidad Distrital Francisco Jose de Caldas</p>
        </div>
        <a class="boton" href="registro.html">Incribirse</a>
      </div>
      <!--Contenido Hero-->
    </section>

    <main class="sombra">
      <h2>Reglas Formato Maratón</h2>

      <div class="servicios">
        <section class="servicio">
          <h3>Composición de Equipos</h3>

          <p>
            Los equipos deben estar conformados por un máximo de 3 integrantes.
            Cada integrante debe proporcionar su nombre, código, carrera
            universitaria y la materia de programación que cursa en el semestre
            actual.
          </p>
        </section>

        <section class="servicio">
          <h3>Registro del Equipo</h3>

          <p>
            Cada equipo debe tener un nombre único que los identifique. Se debe
            especificar la categoría en la que el equipo desea competir: básica,
            intermedia, avanzada o elite. La categoría seleccionada debe ser
            acorde al nivel de la materia de programación más avanzada que esté
            cursando algún miembro del equipo.
          </p>
        </section>

        <section class="servicio">
          <h3>Categorización de Equipos</h3>

          <p>
            Los equipos pueden optar por competir en categorías superiores a la
            indicada por la materia de programación de su integrante más
            avanzado. Sin embargo, no se permite la participación en categorías
            inferiores a la que dicta la materia de programación más avanzada de
            algún miembro del equipo.
          </p>
        </section>

        <section class="servicio">
          <h3>¡Motívate a Participar!</h3>

          <p>
            Desarrolla tus habilidades, enfrenta desafíos y amplía tu red de
            contactos. Una experiencia única en la Universidad Distrital
            Francisco José de Caldas que combina camaradería y superación
            personal. ¡Únete a la emoción de la Maratón de Programación!
          </p>
        </section>
      </div>
      <!--Cierre Div Servicios-->
    </main>

    <footer class="footer_container">
      <p>
        &copy; 2023 <span>Maratón de Programación</span> All rights reserved
        <a
          href="https://github.com/Victor31Codes?tab=repositories"
          target="_blank"
        >
          Henry Rivera, Juan David and Victor31Codes<i
            class="fa-brands fa-github"
          ></i
        ></a>
      </p>
    </footer>
  </body>
  <script src="app.js"></script>
</html>
